.items {
    width: 100%;
    min-height: 80px;
    z-index: 1;
    touch-action: none;
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 12px;
    color: white;
    transition: background-color 0.2s ease-in-out;
}

.activeItem {
    background-color: rgba(82, 82, 82, 0.3);
}

.box {
    background: var(--ft-color-grey);
    opacity: 40%;
    position: absolute;
}