.items {
    width: 100%;
    min-height: 80px;
    z-index: 1;
    touch-action: none;
    /*border: 1px solid white;*/
    margin-bottom: 8px;
    padding: 5px;
    border-radius: 12px;
    /*position: absolute;*/
    color: white;
    /*transition: all 2s ease-in-out;*/
    /*background-color: red;*/
    /*position: absolute;*/
}

.activeItem {
    background-color: rgba(82, 82, 82, 0.3);
}

.box {
    /*border-color: red;*/
    background: var(--ft-color-grey);
    opacity: 40%;
    position: absolute;
}