:root {
    --ft-color-white: #ffffff;
    --ft-color-black: #252525;
    --ft-color-black-light: #3f3f3f;
    --ft-color-grey: #d3d3d3;
    --ft-color-lighter-grey: #e8e8e8;
    --ft-color-blue: #0095ff;
    --ft-color-darker-blue: #0079dc;
    --ft-color-green: #00a207;
    --ft-color-yellow: #ffcc00;
    --ft-color-orange: #ff9900;
    --ft-color-pink: #ff71b1;
    --ft-color-red: #ee0808;

    --ft-border-radius: 4px;

    --ft-font-size-small: 12px;
}