.breadcrumbs {
	font-size: 24px;
	border-bottom: 2px solid gray;
	margin: 8px 0;
}

.pre-loader-container {
	margin-top: calc(50vh - 85px);
}

.required-area::after {
	color: red;
	content: ' *';
}

.modal-body {
	overflow-y: auto;
	height: 75vh;
}

div[class='form-group'] > .invalid-feedback {
	display: block;
}

.dimension {
	display: block;
	position: absolute;
	right: 28px;
	bottom: 32px;
	font-size: 16px;
	color: black;
	letter-spacing: -1px;
}

.app-container {
	width: 100%;
	margin: 0 auto;
	min-height: 80%;
	/*margin-top: 50px;*/
}
