.input {
    display: block;
    line-height: 18px;
    height: 35px;
    width: 100%;

    box-sizing: border-box;
    border: 1px solid var(--ft-color-grey);
    border-radius: var(--ft-border-radius);
    padding: 5px 7px;

    background-color: var(--ft-color-white);
    transition: color 0.2s, background-color 0.2s, border 0.2s;
    outline: none;
}

input:focus-within,
input:hover {
    border-color: var(--ft-color-blue);
}

.input:disabled {
    border-color: var(--ft-color-grey);
    background-color: var(--ft-color-lighter-grey);
}

.error {
    color: var(--ft-color-red);
    height: 16px;
    font-size: 10px;
    line-height: 16px;
}