.mobile-container {
    border: 10px solid var(--ft-color-black-light);
    border-radius: 45px;
    width: 430px;
    box-shadow: 43px 0 18px -8px rgb(168 168 168 / 0.25);

}

.container-mobile-radius {
    border-radius: 35px;
}

#container {
    position: relative;
    background: var(--ft-color-darker-blue);
    padding: 20px;
}